<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="次第人工智能-海外金融一站通" />
    <meta name="keywords" content="次第,次第人工,次第人工智能,人工智能,海外金融" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>次第人工智能-海外金融一站通</title>
  </head>
  <body>
    <section class="min-screen">
      <div class="content">
        <%= require('../template/header/index.ejs')() %>
        <div class="main product-type">
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <%= require('../template/footer/index.ejs')() %>
      </div>
    </section>
  </body>
</html>
