.company {
  padding: 94px 0 110px;
  .company-content {
    width: 992px;
    margin: 0 auto;
  }

  .company-text {
    padding: 38px 0 64px;
    text-align: justify;
    font-size: 14;
    line-height: 2;
  }
  .company-img {
    > li {
      float: left;
      width: 321px;
      height: 229px;
      &:not(:last-child) {
        margin-right: 14px;
      }
    }
  }
  .company-country {
    padding: 0 48px;
    > li {
      float: left;
      width: 120px;
      font-size: 14px;
      text-align: center;
      color: #191c3d;
      > div {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 26px;
        transition: all 1s ease;
        img {
          transition: all 1s ease;
        }
        &:hover {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          img {
            transform: scale(1.2);
          }
        }
      }

      &:not(:last-child) {
        margin-right: 74px;
      }
    }
  }
}

.aboutUs-banner {
  height: 276px;
  line-height: 276px;
  font-size: 34px;
  text-align: center;
  color: #fff;
  background: url("~@/images/company_banner.png") no-repeat center center / 100%;
}

.country {
  background: url("~@/images/country_bg.png") no-repeat;
}
