.min-screen {
  min-width: 1200px;
  overflow-x: hidden;
}

.content {
  position: relative;
  top: 0;
  left: 50%;
  width: 1920px;
  margin: 0 auto;
  margin-left: -960px;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}
