.min-screen {
  min-width: 1200px;
  overflow-x: hidden;
}

.content {
  position: relative;
  top: 0;
  left: 50%;
  width: 1920px;
  margin: 0 auto;
  margin-left: -960px;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.nav {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  padding: 24px 0;
  height: 84px;
  line-height: 36px;
  color: #fff;

  .nav-logo {
    font-size: 14px;
    color: #ccc;
    a {
      display: block;
    }
    img {
      width: 108px;
      vertical-align: middle;
    }
    .logo-txt {
      margin-left: 15px;
      padding-left: 13px;
      height: 16px;
      line-height: 16px;
      border-left: 1px solid #ccc;
    }
  }
  .nav-menu {
    font-size: 16px;
    color: #fff;
    > li {
      float: left;
      margin-right: 44px;
      width: 120px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      cursor: pointer;
      &:hover {
        color: #333;
        background: rgba(255, 255, 255, 0.95);
      }
    }
  }
}

.banner {
  .banner-item {
    position: relative;
    .banner-content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      width: 100%;
      padding: 84px 78px 0;
      color: #fff;
      .banner-title {
        font-size: 40px;
        font-weight: 400;
      }
    }
    .banner-01 {
      padding: 126px 9px 9px;
      .line {
        margin: 40px 0 22px;
        width: 126px;
        height: 1px;
        background: #fff;
      }
      .banner-introduce {
        font-size: 20px;
        line-height: 68px;
      }
    }
  }
}

.swiper-pagination {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  .my-bullet {
    display: inline-block;
    width: 25px;
    height: 2px;
    cursor: pointer;
    background: rgba(220, 220, 220, 0.5);
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  .my-bullet-active {
    background: #fff;
  }
}
.product-service-warp {
  .swiper-pagination {
    bottom: 100px !important;
  }
}

.footer {
  padding-top: 90px;
  height: 356px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  background: #1f2737;

  .footer-nav {
    margin-bottom: 54px;
    .footer-nav-item {
      float: left;
      width: 84px;
      margin: 0 78px;
      .nav-item-title {
        font-size: 18px;
        margin-bottom: 15px;
      }
      .nav-item-option {
        > li {
          height: 30px;
          line-height: 30px;
          cursor: pointer;
        }
      }
    }
  }
  .copyright {
    text-align: center;
  }
}
