html,
body {
  height: 100%;
}

.main {
  position: relative;
  top: 0;
  left: 50%;
  width: 1920px;
  margin: 0 auto;
  margin-left: -960px;
}

.core-panel {
  width: 1200px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}

.wrap {
  min-width: 1200px;
  overflow-x: hidden;
}

.header {
  position: relative;

  .nav {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;

    background: rgba(23, 24, 26, 1);
    &:hover {
      background: rgba(23, 24, 26, 1);
    }

    .logo {
      padding: 20px 56px;
    }

    .menu {
      margin: 57px 0;

      font-size: 0;
      color: #fff;

      > li {
        display: inline-block;
        font-size: 20px;
        margin: 0 60px;
      }
    }
  }

  .banner {
    height: 829px;
    color: #fff;
    background: url(~@/static/images/banner.jpg) no-repeat center center;
    .ad {
      padding: 294px 50px 0;

      .title {
        font-size: 72px;
        line-height: 1.5;
        font-weight: bold;
      }
      .product {
        font-size: 36px;
      }
      .intro {
        margin: 34px 0;
        width: 870px;
        font-size: 20px;
        line-height: 1.5;
        text-align: justify;
      }
    }
  }
}

.footer {
  padding: 100px 0;
  background: #222429;
  ul {
    display: inline-block;
    vertical-align: top;

    width: 33%;
    padding-left: 50px;
    font-size: 16px;
    color: #a6a7a9;
    .title {
      font-size: 20px;
      color: #fff;
    }
    li {
      line-height: 66px;
    }
  }
}

.copy-right {
  line-height: 66px;
  font-size: 16px;
  text-align: center;
  color: #858688;
  background: #15161a;
}
