.contact {
  padding: 84px 0 106px;
  .contact-content {
    .contact-left {
      float: left;
      .contact-text {
        padding-top: 60px;
        width: 607px;
        height: 300px;

        .company-name {
          padding-left: 37px;
          padding-bottom: 20px;
          font-size: 18px;
        }
        .company-item {
          line-height: 40px;
          font-size: 14px;
        }
        .item-icon {
          display: inline-block;
          vertical-align: middle;
          margin-right: 7px;
          width: 30px;
          height: 30px;
        }
        .icon-email {
          background: url("~@/images/icon_email.png") no-repeat center center / 100%;
        }
        .icon-postcode {
          background: url("~@/images/icon_postcode.png") no-repeat center center / 100%;
        }
        .icon-address {
          background: url("~@/images/icon_address.png") no-repeat center center / 100%;
        }
      }
    }
    .contact-right {
      float: right;
      .contact-map {
        width: 593px;
        height: 334px;
      }
    }
  }
}
.contact-india {
  color: #fff;
  background: #1b2a3f url("~@/images/yindu_map_bg.png") no-repeat center center / 100%;
}
