.product-service {
  padding: 85px 0 35px;
  .product-service-content {
    .product-list {
      padding: 50px 0;
      > li {
        position: relative;
        float: left;
        width: 330px;
        height: 397px;
        margin: 0 35px;
        text-align: center;
        cursor: default;
        overflow: hidden;
        &:hover {
          .item-back {
            position: absolute;
            top: 0;
            left: 0;
          }
        }
        .item-card {
          padding: 0 50px;
          width: 100%;
          height: inherit;

          .product-logo {
            position: relative;
            padding: 94px 0 36px;
            img {
              width: auto;
              height: 51px;
            }
            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 50%;
              width: 36px;
              height: 1px;
              background: #06bcd0;
              transform: translateX(-50%);
            }
          }

          .product-item-title {
            padding: 26px 0;
            font-size: 18px;
            color: #303351;
          }
          .product-item-content {
            line-height: 26px;
            font-size: 14px;
            color: #474964;
          }
        }
        .item-front {
          background: url("~@/images/product_service_front_bg.png") no-repeat center;
        }
        .item-back {
          padding-top: 40px;
          color: #fff;
          background: url("~@/images/product_service_back_bg.png") no-repeat center;

          .product-item-title {
            position: relative;
            color: #fff;
            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 50%;
              width: 62px;
              height: 1px;
              background: #fff;
              transform: translateX(-50%);
            }
          }
          .product-item-content {
            padding: 36px 0 30px;
            text-align: justify;
            color: #fff;
          }
          .product-service-btn {
            display: inline-block;
            width: 114px;
            height: 30px;
            line-height: 30px;
            font-size: 12px;
            text-align: center;
            border-radius: 15px;
            background: #06bcd0;
          }
        }
      }
    }
  }
}

.data {
  padding: 24px 0;
  height: 293px;
  background: url("~@/images/data_bg.png") no-repeat center / 100%;
  .data-content {
    width: 1350px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    > li {
      float: left;
      padding: 0 72px;
      height: 244px;
      .data-number {
        padding: 50px 0 40px;
        font-size: 34px;
        strong {
          font-size: 100px;
        }
      }
      .data-option {
        font-size: 18px;
      }
      &:not(:last-child) {
        border-right: 1px solid rgba(255, 255, 255, 0.2);
      }
    }
  }
}

.cooperation {
  padding: 85px 0;
  height: 1034px;
  text-align: center;
  background: url("~@/images/cooperation_bg.png") no-repeat;
  .cooperation-content {
    .slogan {
      margin-top: 50px;
      font-size: 18px;
      color: #191c3d;
    }
    .cooperation-list {
      > li {
        float: left;
        margin-top: 40px;
        width: 291px;
        height: 130px;
        &:not(:nth-child(4n)) {
          margin-right: 12px;
        }
        &:hover {
          box-shadow: 0px 5px 12px 1px rgba(0, 0, 0, 0.1);
          border-radius: 6px;
        }
      }
    }
  }
}
