.nav {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  line-height: 70px;
  color: #fff;

  &:hover {
    background: #333;
  }

  .nav-logo {
    width: 128px;
    a {
      display: block;
    }
    img {
      width: 100%;
      vertical-align: middle;
    }
  }
  .nav-menu {
    width: 645px;

    > li {
      float: left;
      line-height: 68px;
      padding: 0 20px;
      cursor: pointer;
      border-bottom: 2px solid transparent;
      .nav-submenu {
        display: none;
        position: absolute;
        bottom: -200px;
        left: 0;
        width: 100%;
        height: 200px;
        background: #333;
      }
      &:hover {
        border-color: #2855f0;
        .nav-submenu {
          display: block;
        }
      }
    }
  }
  .nav-right {
    padding: 0 30px;
    .lang {
      position: relative;
      cursor: pointer;
      .lang-options {
        position: absolute;
        top: 50px;
        left: 0;
        line-height: 2;
        background: #333;
      }
    }
    .login {
      margin: 0 20px;
      font-size: 12px;
    }
    .apply-now {
      padding: 8px 14px;

      color: #fff;
      background: #2855f0;
      border-radius: 2px;
    }
  }
}

.banner {
  color: #fff;
  .banner-item {
    position: relative;
    .banner-title {
      font-size: 24px;
      font-weight: 600;
      line-height: 1.8;
    }
    .banner-introduce {
      padding: 40px 0 80px;
    }
    .banner-btn-goDetails {
      padding: 10px 30px;
      background: #2855f0;
      border-radius: 5px;
    }
    .banner-content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      width: 100%;
      padding: 160px 40px 0;
    }
  }
}

.ai {
  font-size: 14px;
  color: #555f73;
  .ai-content {
    padding: 40px 0;
    text-align: center;
    background: url("https://official-static.tongdun.cn/officialv3/home/ai/img_AI.png") no-repeat center bottom / 500px;
    .ai-title {
      font-size: 40px;
    }
    .ai-text {
      padding: 30px 0 60px;
    }
    .ai-items {
      padding: 40px 0;
    }
    .ai-icon {
      width: 44px;
      height: 44px;
    }
    .ai-ad {
      display: inline-block;
      vertical-align: middle;
      padding: 0 10px;
      line-height: 1.4;
      text-align: left;
    }
  }
}
