.product-type {
  position: relative;
  z-index: 999;
  margin-top: -80px;
  padding: 46px 63px 54px;
  max-width: 1200px;
  background: #fff;
  box-shadow: 0px 5px 12px 1px rgba(30, 32, 60, 0.06);
  .product-list {
    > li {
      float: left;
      padding-left: 30px;
      width: 33.333%;

      .product-list-logo {
        float: left;
        width: 60px;
        height: 60px;
      }
      .product-list-content {
        float: left;
        padding: 8px 0 8px 14px;
        .product-list-name {
          margin-bottom: 10px;

          font-size: 18px;
          color: #303351;
        }
        .product-list-txt {
          font-size: 16px;
          color: #616881;
        }
      }
    }
  }
}
.product-name {
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 19px;
  border-bottom: 1px solid #303351;
  .product-icon {
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 29px;
    margin-right: 10px;
    background: red;
  }
  .icredit-icon {
    background: url("~@/images/icredit_icon.png") no-repeat center center/100%;
  }
  .iDefend-icon {
    background: url("~@/images/idefend_icon.png") no-repeat center center/100%;
  }
}

.product-introduce {
  padding: 20px 0;
  line-height: 1.6;
  font-size: 14px;
  text-align: justify;
}
.product-introduce-item {
  margin-top: 24px;
  h3 {
    font-size: 18px;
  }
}

.icredit {
  .icredit-content {
    max-width: 1200px;
    padding: 86px 0 102px;
    .icredit-image {
      float: left;
      width: 600px;
      height: 466px;
      overflow: hidden;
      img {
        width: 100%;
        transition: all 1s ease;
      }
      &:hover img {
        transform: scale(1.2);
      }
    }
    .icredit-text {
      float: left;
      width: 600px;
      padding: 54px 18px 54px 25px;
      font-size: 20px;
      color: #303351;
    }
  }
}

.iDefend {
  padding: 66px 0;
  background: #f6f8fb;
  .iDefend-content {
    max-width: 1200px;
    .idefend-left-img {
      margin-top: 55px;
    }
  }
  .iDefend-text {
    padding-right: 60px;
  }
  .iDefend-left {
    float: left;
    width: 652px;
  }
  .iDefend-right {
    float: left;
    width: 518px;
    .idefend-right-img {
      position: relative;
      width: 584px;
      top: 0;
      left: -38px;
    }
    .iDefend-introduce {
      padding-left: 18px;
    }
  }
  .idefend-img {
    width: 100%;
    overflow: hidden;
    img {
      transition: all 1s ease;
    }
    &:hover {
      img {
        transform: scale(1.2);
      }
    }
  }
}

.gorupee {
  padding: 110px 0 150px;
  .gorupee-content {
    max-width: 1200px;
  }
  .gorupee-text {
    float: left;
    width: 497px;
    padding-top: 86px;
  }
  .gorupee-image {
    float: right;
    width: 678px;
    height: 499px;
    overflow: hidden;
    img {
      transition: all 1s ease;
    }
    &:hover img {
      transform: scale(1.2);
    }
  }
}
