.product-type {
  position: relative;
  z-index: 999;
  margin-top: -80px;
  padding: 46px 63px 54px;
  max-width: 1200px;
  background: #fff;
  box-shadow: 0px 5px 12px 1px rgba(30, 32, 60, 0.06);
  .product-list {
    > li {
      float: left;
      padding-left: 30px;
      width: 33.333%;

      .product-list-logo {
        float: left;
        width: 60px;
        height: 60px;
      }
      .product-list-content {
        float: left;
        padding: 8px 0 8px 14px;
        .product-list-name {
          margin-bottom: 10px;

          font-size: 18px;
          color: #303351;
        }
        .product-list-txt {
          font-size: 16px;
          color: #616881;
        }
      }
    }
  }
}

.icredit {
  .icredit-content {
    max-width: 1200px;
    padding: 86px 0 102px;
    .icredit-image {
      float: left;
      width: 600px;
      height: 466px;
      background: url("~@/images/icredit_image.png") no-repeat center 100%;
    }
    .icredit-text {
      float: left;
      padding: 54px 18px 54px 25px;
      font-size: 20px;
      color: #303351;
    }
    .product-name {
      display: inline-block;
      vertical-align: middle;
      padding-bottom: 19px;
      border-bottom: 1px solid #303351;
      .product-icon {
        display: inline-block;
        vertical-align: middle;
        width: 28px;
        height: 29px;
        margin-right: 10px;
        background: red;
      }
      .icredit-icon {
        background: url("~@/images/icredit_icon.png") no-repeat center center/100%;
      }
    }
  }
}
