<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="次第人工智能-海外金融一站通" />
    <meta name="keywords" content="次第,次第人工,次第人工智能,人工智能,海外金融" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>次第人工智能-海外金融一站通</title>
  </head>
  <body>
    <section class="min-screen">
      <div class="content">
        <%= require('../template/header/index.ejs')() %>
        <div class="contact">
          <div class="main contact-content clearfix">
            <div class="contact-left">
              <div class="contact-text">
                <p class="company-name">杭州次第人工智能科技有效公司</p>
                <ul class="company-item">
                  <li><i class="item-icon icon-address"></i>地址：浙江省杭州市拱墅区申花路汉港武林汇1幢701室</li>
                  <li><i class="item-icon icon-postcode"></i>邮编：310011</li>
                  <li><i class="item-icon icon-email"></i>邮箱：BD@cidikeji.com</li>
                </ul>
              </div>
            </div>
            <div class="contact-right">
              <!-- <img src="" /> -->
              <div class="contact-map"></div>
            </div>
          </div>
        </div>
        <div class="contact contact-india">
          <div class="main contact-content clearfix">
            <div class="contact-left">
              <div class="contact-text">
                <p class="company-name">杭州次第人工智能科技有效公司</p>
                <ul class="company-item">
                  <li><i class="item-icon icon-address"></i>地址：浙江省杭州市拱墅区申花路汉港武林汇1幢701室</li>
                  <li><i class="item-icon icon-postcode"></i>邮编：310011</li>
                  <li><i class="item-icon icon-email"></i>邮箱：BD@cidikeji.com</li>
                </ul>
              </div>
            </div>
            <div class="contact-right">
              <!-- <img src="" /> -->
              <div class="contact-map"></div>
            </div>
          </div>
        </div>
        <%= require('../template/footer/index.ejs')() %>
      </div>
    </section>
  </body>
</html>
