<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="次第人工智能" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>次第人工智能</title>
  </head>
  <body>
    <section class="min-screen">
      <div class="content">
        <nav class="nav">
          <div class="main nav-cont clearfix">
            <div class="nav-logo fl">
              <a href="#">
                <img src="https://official-static.tongdun.cn/officialv3/logo_white@2x.png" />
              </a>
            </div>
            <div class="nav-right fr">
              <span class="lang">
                lang
              </span>
              <a href="#" class="login">登录</a>
              <button type="button" class="apply-now">立即申请</button>
            </div>
            <ul class="nav-menu fr">
              <li>
                <span>解决方案</span>
                <div class="nav-submenu">
                  <div class="main">
                    111
                  </div>
                </div>
              </li>
              <li>
                <span>人工智能</span>
                <div class="nav-submenu">
                  <div class="main">
                    44444444444444
                  </div>
                </div>
              </li>
              <li>
                <span>产品与服务</span>
                <div class="nav-submenu">
                  <div class="main">
                    111
                  </div>
                </div>
              </li>
              <li>
                <span>平台与技术</span>
                <div class="nav-submenu">
                  <div class="main">
                    111
                  </div>
                </div>
              </li>
              <li>
                <span>XX国际</span>
                <div class="nav-submenu">
                  <div class="main">
                    111
                  </div>
                </div>
              </li>
              <li>
                <span>关于我们</span>
                <div class="nav-submenu">
                  <div class="main">
                    111
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
        <div class="banner">
          <div class="banner-item">
            <img src="https://official-static.tongdun.cn/officialv3/banners/fanqizha_1203_02.jpeg" />
            <div class="main banner-content">
              <h2 class="banner-title">
                跨境交易反欺诈<br />
                AI+专家策略让跨境交易更安全
              </h2>
              <p class="banner-introduce">依托专业AI算法，输出多维客户标签，助力企业机构精准定位客户风险。</p>
              <a href="#" class="banner-btn-goDetails">查看详情</a>
            </div>
          </div>
        </div>
        <div class="ai">
          <div class="main ai-content">
            <h2 class="ai-title">同盾AI，助力企业智能化转型</h2>
            <p class="ai-text">
              强大的云计算能力支撑同盾在人工智能赛道上不断探索新的方向和应用领域，将AI深度渗透到金融、互联网等客户业务决策流程，全链路地帮助推动企业智能化转型
            </p>
            <div class="clearfix">
              <ul class="fl">
                <li class="ai-items">
                  <img src="https://official-static.tongdun.cn/officialv3/home/ai/icon_fraud.png" class="ai-icon" />
                  <div class="ai-ad">
                    <p>智能反欺诈解决方案</p>
                    <a href="">查看详情</a>
                  </div>
                </li>
                <li class="ai-items">
                  <img
                    src="https://official-static.tongdun.cn/officialv3/home/ai/icon_voicequality.png"
                    class="ai-icon"
                  />
                  <div class="ai-ad">
                    <p>知识联邦解决方案</p>
                    <a href="">查看详情</a>
                  </div>
                </li>
                <li class="ai-items">
                  <img
                    src="https://official-static.tongdun.cn/officialv3/home/ai/icon_voiceprint.png"
                    class="ai-icon"
                  />
                  <div class="ai-ad">
                    <p>声纹识别解决方案</p>
                    <a href="">查看详情</a>
                  </div>
                </li>
              </ul>
              <ul class="fr">
                <li class="ai-items">
                  <img src="https://official-static.tongdun.cn/officialv3/home/ai/icon_risk.png" class="ai-icon" />
                  <div class="ai-ad">
                    <p>智能风控解决方案</p>
                    <a href="">查看详情</a>
                  </div>
                </li>
                <li class="ai-items">
                  <img src="https://official-static.tongdun.cn/officialv3/home/ai/icon_content.png" class="ai-icon" />
                  <div class="ai-ad">
                    <p>内容安全解决方案</p>
                    <a href="">查看详情</a>
                  </div>
                </li>
                <li class="ai-items">
                  <img src="https://official-static.tongdun.cn/officialv3/home/ai/icon_call.png" class="ai-icon" />
                  <div class="ai-ad">
                    <p>智能语音外呼解决方案</p>
                    <a href="">查看详情</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
