<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="次第人工智能" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <title>次第人工智能</title>
  </head>
  <body>
    <div class="wrap">
      <div class="main">
        <header class="header">
          <div class="nav">
            <div class="core-panel claer">
              <div class="logo fl">
                <img src="./static/images/logo.png" />
              </div>
              <ul class="menu fr">
                <li><a href="#">首页</a></li>
                <li><a href="#solution">解决方案</a></li>
                <li><a href="#global">次第国际</a></li>
                <li><a href="#contact">联系我们</a></li>
              </ul>
            </div>
          </div>
          <div class="banner">
            <div class="core-panel">
              <div class="ad">
                <h2 class="title">次第智能科技</h2>
                <p class="product">AutoML机器学习 / RPA流程自动化</p>
                <p class="intro">
                  次第智能科技，国内领先的机器学习和流程自动化服务及解决方案提供商。完整的智能模型全生命周期管理平台和服务配置体系，基于数据平台服务，通过对智能服务的共享复用，对智能服务研发相关角色进行管理，以及研发流程的标准化、自动化、对前台业务提供个性化智能服务的迅速构建能力支持。将机器学习和流程自动化服务与业务场景结合，为电商、物流、新零售、健康医疗、短视频、直播、金融等行业提供业务增长产品，致力于为相关行业大幅提升经营的效率和效果。
                </p>
              </div>
            </div>
          </div>
        </header>
        <div class="slogan">
          <div class="core-panel">
            <div>
              <h2 class="title">技术驱动创新，力争超越自我</h2>
              <ul class="feature">
                <li>
                  <div class="icon">
                    <img src="./static/images/icon1.png" />
                  </div>
                  <p class="name">专业技术</p>
                </li>
                <li>
                  <div class="icon">
                    <img src="./static/images/icon2.png" />
                  </div>
                  <p class="name">产品订制</p>
                </li>
                <li>
                  <div class="icon">
                    <img src="./static/images/icon3.png" />
                  </div>
                  <p class="name">业务覆盖</p>
                </li>
                <li>
                  <div class="icon">
                    <img src="./static/images/icon4.png" />
                  </div>
                  <p class="name">业界认可</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="solution" class="tech automl">
          <div class="core-panel">
            <div class="title">
              <h2 class="name">AutoML-机器学习</h2>
              <p class="link">产品及解决方案</p>
            </div>
          </div>
          <div class="item">
            <div class="core-panel">
              <ul class="feat">
                <li>
                  <img src="./static/images/automl-icon1.png" />
                  <h3 class="feat-title">面向企业的AI数据仓库</h3>
                  <p>
                    高效的数据治理系统，涉及内容抽取/分类/去重等技术<br />
                    统一的数据治理系统，快速适配企业各类数据的批量与实时导入<br />
                    支持分布式存储、单机存储、跨云存储等多种企业存储需求
                  </p>
                </li>
                <li>
                  <img src="./static/images/automl-icon2.png" />
                  <h3 class="feat-title">丰富的工业化模组</h3>
                  <p>
                    低时延、高性能、高可用的线上服务引擎<br />可视化模组，模型效果、数据监控、指标统计快速定制<br />
                    支持公有云、私有云及混合云部署
                  </p>
                </li>
                <li>
                  <img src="./static/images/automl-icon3.png" />
                  <h3 class="feat-title">高度自动化的AI中台</h3>
                  <p>
                    将涉及数十模块、数百细节的多领域AI技术组件化<br />
                    通过AutoML技术自动进行组件衔接与组件调优<br />
                    AI中台+AutoML可帮助企业快速进行行业AI落地
                  </p>
                </li>
                <li>
                  <img src="./static/images/automl-icon4.png" />
                  <h3 class="feat-title">通用需求SAAS化</h3>
                  <p>
                    机AutoNLP：情感分析、信息分类、实体识别、关键词提取等<br />
                    AutoSearch：意图识别、语义搜索、多模态支持等<br />
                    AutoRecSys：用户画像、知识图谱、个性化推荐等<br />
                    AutoDialog：智能客服、智能营销、自动化业务办理等
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tech rpa">
          <div class="core-panel">
            <div class="title">
              <h2 class="name">RPA-机器人流程自动化</h2>
              <p class="link">产品及解决方案</p>
            </div>
          </div>
          <div class="item">
            <div class="core-panel">
              <ul class="feat">
                <li>
                  <img src="./static/images/rpa-icon1.png" />
                  <h3 class="feat-title">什么是机器人流程自动化</h3>
                  <p>
                    现今，机器人流程自动化是一项人人都可使用的技术，<br />
                    人们可以通过配置计算机软件或“机器人”来模仿、<br />
                    集成人与数字系统之间的交互行为，进而自动化业务流程。<br />
                    RPA机器人使用用户界面（UI）捕获数据并模拟人类操作应用程序。<br />
                    它们能够识别、触发响应并和他系统进行通信，<br />以此来执行各类重复性任务。<br />这项技术有诸多好处，比
                    如：RPA软件机器人从不休息、<br />也从不犯错，而且其使用 成本也远远低于人类员工。
                  </p>
                </li>
                <li>
                  <img src="./static/images/rpa-icon2.png" />
                  <h3 class="feat-title">RPA能够带来哪些业务优势</h3>
                  <p>
                    机器人的时代已经来临。越早发挥它的潜能，就能越早地为您<br />
                    的企业创造竞争优势。机器人流程自动化在提高工作准确<br />
                    性的同时，还能够带来直接的盈利。使用RPA来处理流<br />
                    程不仅可以转变、简化组织的工作流程，还会为企业带<br />
                    来极佳的可扩展性和灵活性，使企业更加灵活地面对<br />
                    机遇和挑战。软件机器人易于训练，还能与任何系<br />
                    统进行无缝衔接。随着工作的推进，机器人会越来越<br />
                    多；它们不断报告工作进度，降低运营和业务的不确<br />
                    定性，不断调整战略，将企业做大做强。
                  </p>
                </li>
                <li>
                  <img src="./static/images/rpa-icon3.png" />
                  <h3 class="feat-title">机器人流程自动化如何工作</h3>
                  <p>
                    RPA机器人能够模仿大多数人类用户的行为。它们能够登录<br />
                    应用程序、移动文件和文件夹、复制和粘贴数据、填写表<br />
                    单、从文档中提取结构化和半结构化数据、抓取浏览器等。
                  </p>
                </li>
                <li>
                  <img src="./static/images/rpa-icon4.png" />
                  <h3 class="feat-title">RPA与其他企业自动化工具有何不同</h3>
                  <p>
                    相较于其他传统的IT解决方案，RPA可帮助企业部门以极低的<br />
                    成本实现自动化。与此同时，由于RPA本质上是非侵入性<br />
                    的，它只会利用现有设施，而不会对那些成本高昂、难以<br />
                    更换的底层系统造成干扰。对RPA来说，成本效率和合<br />
                    规性不再是运营成本，而是自动化的副产品。
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="global" class="core-panel">
          <div class="global">
            <h3 class="title">次第国际</h3>
            <p>
              基于领先的AutoML和RPA实战经验，服务多印尼、越南、菲律宾、印度、泰国等市场。未来，次第国际希望凭借夯实的技术经验和丰富的出海经验，助力更多金融出海客户业务快速落地，提高运营效率
            </p>
            <ul class="state">
              <li>
                <img src="./static/images/indonesia.png" />
                <p>印尼</p>
              </li>
              <li>
                <img src="./static/images/vietnam.png" />
                <p>越南</p>
              </li>
              <li>
                <img src="./static/images/philippines.png" />
                <p>菲律宾</p>
              </li>
              <li>
                <img src="./static/images/india.png" />
                <p>印度</p>
              </li>
              <li>
                <img src="./static/images/thailand.png" />
                <p>泰国</p>
              </li>
            </ul>
            <div class="ad clearfix">
              <div class="fl talents">
                <img src="./static/images/talents.png" />
                <span>吸纳当地专业人才，出海服 务无缝对接</span>
              </div>
              <div class="fr team">
                <img src="./static/images/team.png" />
                <span>专业团队 安心使用</span>
              </div>
            </div>
          </div>
        </div>
        <div id="contact" class="footer">
          <div class="core-panel">
            <ul>
              <li class="title">次第全球</li>
              <li>中文</li>
              <li>English</li>
              <li>Indonesia</li>
            </ul>
            <ul>
              <li class="title">联系方式</li>
              <li>客服热线：4006886387</li>
              <li>商务合作：bd@cidikeji.com</li>
            </ul>
            <ul>
              <li class="title">
                联系地址
              </li>
              <li>杭州市拱墅区申花路汉港武林汇1幢701室</li>
            </ul>
          </div>
        </div>
        <div class="copy-right">
          Copyright @2019 次第人工智能科技版权所有 浙ICP备19033266号-1
        </div>
      </div>
    </div>
  </body>
</html>
