<div id="contact" class="footer">
  <div class="core-panel">
    <ul>
      <li class="title">次第全球</li>
      <li>中文</li>
      <li>English</li>
      <li>Indonesia</li>
    </ul>
    <ul>
      <li class="title">联系方式</li>
      <li>客服热线：4006886387</li>
      <li>商务合作：bd@cidikeji.com</li>
    </ul>
    <ul>
      <li class="title">
        联系地址
      </li>
      <li>杭州市拱墅区申花路汉港武林汇1幢701室</li>
    </ul>
  </div>
</div>
<div class="copy-right">
  Copyright @2019 次第人工智能科技版权所有 浙ICP备19033266号-1
</div>
