<div class="footer">
  <div class="main footer-content">
    <div class="footer-nav clearfix">
      <div class="footer-nav-item">
        <p class="nav-item-title">快捷入口</p>
        <ul class="nav-item-option">
          <li>
            <a href="/">首页</a>
          </li>
          <li>
            <a href="/productService.html?nav=productService">产品服务</a>
          </li>
          <li>
            <a href="/aboutUs.html?nav=aboutUs">关于次第</a>
          </li>
          <li>
            <a href="/contactUs.html?nav=contactUs">联系我们 </a>
          </li>
        </ul>
      </div>
      <div class="footer-nav-item">
        <p class="nav-item-title">产品服务</p>
        <ul class="nav-item-option">
          <li><a href="/productService.html?nav=productService">iDefend</a></li>
          <li><a href="/productService.html?nav=productService">iCredit</a></li>
          <li><a href="/productService.html?nav=productService">GoRupee</a></li>
        </ul>
      </div>
      <div class="footer-nav-item">
        <p class="nav-item-title">关于次第</p>
        <ul class="nav-item-option">
          <li><a href="/aboutUs.html?nav=aboutUs">公司介绍</a></li>
          <li><a href="/aboutUs.html?nav=aboutUs">发展历程</a></li>
          <li><a href="/aboutUs.html?nav=aboutUs">管理团队</a></li>
        </ul>
      </div>
      <div class="footer-nav-item">
        <p class="nav-item-title">联系我们</p>
        <ul class="nav-item-option">
          <li><a href="/contactUs.html?nav=contactUs">公司地址</a></li>
          <li><a href="/contactUs.html?nav=contactUs">客服联系</a></li>
          <li><a href="/contactUs.html?nav=contactUs">媒体联系</a></li>
        </ul>
      </div>
      <div class="footer-nav-item">
        <p class="nav-item-title">友情链接</p>
        <ul class="nav-item-option">
          <li>CreditHouse</li>
          <li>CreditBull</li>
        </ul>
      </div>
    </div>
    <p class="copyright">Copyright @2019 次第人工智能科技版权所有 浙ICP备19033266号-2</p>
  </div>
</div>
