<div class="footer">
  <div class="main footer-content">
    <div class="footer-nav clearfix">
      <div class="footer-nav-item">
        <p class="nav-item-title">快捷入口</p>
        <ul class="nav-item-option">
          <li>首页</li>
          <li>产品服务</li>
          <li>关于次第</li>
          <li>联系我们</li>
        </ul>
      </div>
      <div class="footer-nav-item">
        <p class="nav-item-title">产品服务</p>
        <ul class="nav-item-option">
          <li>iDefend</li>
          <li>iCredit</li>
          <li>GoRupee</li>
        </ul>
      </div>
      <div class="footer-nav-item">
        <p class="nav-item-title">关于次第</p>
        <ul class="nav-item-option">
          <li>公司介绍</li>
          <li>发展历程</li>
          <li>管理团队</li>
        </ul>
      </div>
      <div class="footer-nav-item">
        <p class="nav-item-title">联系我们</p>
        <ul class="nav-item-option">
          <li>公司地址</li>
          <li>客服联系</li>
          <li>媒体联系</li>
        </ul>
      </div>
      <div class="footer-nav-item">
        <p class="nav-item-title">友情链接</p>
        <ul class="nav-item-option">
          <li>CreditHouse</li>
          <li>CreditBull</li>
        </ul>
      </div>
    </div>
    <p class="copyright">Copyright @2019 次第人工智能科技版权所有 浙ICP备19033266号-2</p>
  </div>
</div>
